<html>
  <head>
    <title>Redbrick Pizzeria </title>

    <!-- IMPORTS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="background-color: rgba(155, 30, 30, 1);">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Redbrick Pizzeria</a>


        {% if user.is_authenticated %}

          <button class="btn rounded-pill order-dark dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></button>

          <ul class="dropdown-menu dropdown-menu-end ">
            <li><a class="dropdown-item" href="#">Home</a></li>
            <li><a class="dropdown-item" href="/order">Order</a></li>
            <li><a class="dropdown-item" href="#">My Orders</a></li>
            <li><a class="dropdown-item" href="/logout/">Logout</a></li>
          </ul>

      {% else %}

        <div class="btn-group rounded-pill border border-dark">
          <a class="btn" href="/login">
            Login
          </a>

          <button class="btn border-start order-dark dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>

          <ul class="dropdown-menu dropdown-menu-end ">
            <li><a class="dropdown-item" href="/register">Register</a></li>
          </ul>
        </div>

      {% endif %}
      </div>
    </nav>


    <div id="bg" style="background-image: url('{% static "brickwall.jpeg" %}'); background-size: cover; background-position: center; height: 100vh; z-index: -1">
      {% block content %}

      {% endblock %}
    </div>


    <footer class="fixed-bottom text-center text-lg-start bg-body-tertiary text-muted" style="background-color: rgba(200, 200, 200, 1);">
      <div class="container text-center pt-0 mb-0">
        <section>
          <h6 class="text-uppercase fw-bold mb-0">Contact Us</h6>
          <p class="pt-0 mb-0">
            <i class="fas fa-home me-3"></i>DCU, Dublin, Ireland, D09 NRT0
            &nbsp;&nbsp;&nbsp; <a class="text-reset" href="mailto:pizza@redbrick.dcu.ie"> <i class="fas fa-envelope me-3"> </i> pizza@redbrick.dcu.ie</a>
            &nbsp;&nbsp;&nbsp; <a class="text-reset" href="tel:+353 85 123 4569"> <i class="fas fa-phone me-3"></i> +353 85 123 4569 </a>
          </p>
        </section>
      </div>
      <div class="container pt-0">
        <section class="mb-0 pt-0">
          <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-body m-1"
            href="https://instagram.com"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-body m-1"
            href="https://linkedin.com/in/gavinholahan/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a>

          <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-body m-1"
            href="https://github.com/hypnoant"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
      </div>

      <div class="text-center p-0">
        © 2025 Copyright:
        <a class="text-reset fw-bold" href="https://redbrick.dcu.ie">redbrick.dcu.ie</a>
      </div>
    </footer>

  </body>

</html>
